In [36]:
import pandas as pd
import numpy as np
import h5py

# load data
df = pd.read_csv (r'data/raw_data/funding_data.csv')

# replace + and - and * so they are coded as missing
df = df.replace('+', np.NaN, regex=False)
df = df.replace('-', np.NaN, regex=False)
df = df.replace('*', np.NaN, regex=False)

# remove pre-2011 data and years that are estimates only
df = df.drop(df.columns[[1, 2, 3, 4, 5, 16, 17]], axis=1)

years = ['2011','2012','2013', '2014', '2015', '2016', '2017', ]

df[['2011','2012','2013']] = df[['2011','2012', '2013']].replace('[\$,]', '', regex=True).astype(float)

display(df)

,research_category,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2019_US_Mortality_19,2019_US_Prevalence_SE_19
0,Acquired Cognitive Impairment,NaN,NaN,NaN,NaN,$798,"$1,132","$1,560","$1,978","$2,423","$2,897",NaN,NaN
1,Acute Respiratory Distress Syndrome,96.0,98.0,95.0,$85,$108,$103,$107,$123,$126,$158,"10,482",NaN
2,Adolescent Sexual Activity,69.0,76.0,70.0,$68,$85,$91,$99,$96,$102,$88,NaN,NaN
3,Agent Orange & Dioxin,8.0,8.0,10.0,$8,$9,$9,$11,$10,$8,$6,NaN,NaN
4,Aging,2572.0,2593.0,2429.0,"$2,556","$2,698","$3,150","$3,572","$4,084","$4,653","$5,276",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,West Nile Virus,65.0,29.0,40.0,$48,$40,$46,$42,$36,$24,$27,90,NaN
295,Women's Health 8,3891.0,3833.0,3745.0,"$3,935","$3,989","$4,540","$4,769","$5,048","$4,469","$4,466",NaN,NaN
296,Wound Healing and Care,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$163,NaN,NaN
297,Youth Violence,87.0,77.0,70.0,$59,$47,$46,$50,$46,$48,$38,NaN,NaN
298,Youth Violence Prevention,26.0,27.0,26.0,$16,$15,$17,$21,$22,$24,$21,NaN,NaN

In [1]:
# Export the pandas DataFrame into HDF5
h5File = "data/cleaned_data/funding_data.hdf5";
df.to_hdf(h5File, "/data/cleaned_data");

NameError: name 'data2019' is not defined

In [20]:
# Use pandas again to read data from the hdf5 file to the pandas DataFrame
df = pd.read_hdf(h5File, "/data/cleaned_data");